*{
    margin: 0;
    padding: 0;
}
.mob1{
    display: flex;
    /* border: 2px solid rebeccapurple; */
    justify-content: center;
    background-color:  #F5F5F5;
    
}
.empty-cart{
    display: flex;
    flex-direction: column;
      row-gap: 10vh;
    align-items: center;
    height: 100vh;
    width: 50%;
   
}
.empty-img{
    height: 60%;
}
.item-cart{
    /* border: 2px solid rebeccapurple; */
    height: 100vh;
    width: 80%;   
    display: flex;
    column-gap: 2vw;
}
.flex-box{
   width:60vw;
   display: flex;
  
}
.item-cart1{
    /* border: 2px solid rebeccapurple; */
    overflow-y: scroll;
    width: 60%;
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    padding-top: 5px;
    position: relative;
    padding-bottom: 10px;
}
.item-cart1::-webkit-scrollbar{
    
    margin-top: 20px;
}
.item-cart2{
 background-color: rgb(255, 255, 255);
   display: flex;
   flex-direction: column;
   row-gap: 5%;
    /* border: 2px solid rebeccapurple; */
    width: 400px;
    height:60%;
    position: relative;
    top: 10px;
    border-radius: 5px;
  
}
.item-cart3{
    position: relative;
    top: 10px;
    background-color: rgb(255, 255, 255);
   display: flex;
   flex-direction: column;
   width: 50px;
   height:200px;
   align-items: center;
   justify-content: center;
}
.price-details{
    font-size: 1.2rem;
    font-weight: 500;
    color: grey;
    padding: 10px;
}
.green{
    color: #26a541;
}
.price-cont{
    display: flex;
    /* border: 2px solid red; */
    width: 90%;
    padding-left: 20px;
    column-gap:5vw ;
    justify-content: left;
    
}
.price-right{
 /* border: 2px solid red; */
   width:30% ;
}
.price-left{
    /* border: 2px solid red; */
    width:70% ;
}
.cart-iteminner{
 display: flex;
  width: 100%;
  height: 30%;
  border-radius: 5px;
 background-color: rgb(255, 255, 255);
}
.cart-iteminner1{
    /* border: 2px solid red;  */
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: left;
    row-gap: 2vh;
}
.btn-remove{
    width: 10vw;
    font-size:1rem;
    color:black;
    font-weight: 500;
    background-color: rgb(170, 217, 240);
    padding: 2px;
    border-radius: 5px;
    border: 2px solid rgb(170, 217, 240);
}
.name{
    font-size: 1rem;
    font-weight: 500;
}
.img-box{
  /* border: 2px solid red; */
  width: 30%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  row-gap: 5vh;
  padding-top: 5px;
  position: relative;
}
.plus-minus{
    display: flex;
    column-gap: 1vw;
    padding-bottom: 5px;
}
.cart-img{
    height: 15vh;
}
.plus{
    width: 30%;
    height: 100%;
    padding: 0px 8px;
    border-radius: 50%;
    border: 0px;
    font-size: 1rem;
    background-color: rgb(189, 193, 193);
}
.payment-btn{
    height: 5vh;
   width: 13vw;
   border-radius: 5px;
   font-size: 1rem;
   background-color: rgb(109, 175, 225);
   color: white;
}
.placeorder-btn{
    width: 50%;
    height: 5vh;
    border-radius: 5px;
    font-size: 1rem;
    background-color: rgb(4, 182, 63);
    color: white;
}
.btns{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    /* border: 2px solid red; */
}

@media only screen and (min-width:500px) and (max-width:1000px){
    .cart-img {
        height: auto;
        width: 60%;
    }  
    .name {
        font-size: 0.8rem;
        font-weight: 500;
    }
    .cart-iteminner {
        column-gap: 2vw;
        height: 20%;
    }
    .cart-iteminner1 {
        row-gap: 1vh;
        font-size: 0.5rem;
    }
    .item-cart2{
        height:25%;
        width: 35%;
        font-size: 0.5rem;
        row-gap: 2%;
    }
    .btns{
        height:20%;
        flex-direction: column;
        row-gap: 2%;
    }
    .payment-btn{
        height:2vh;
       width: 100%;
       font-size: 0.6rem;
    }
    .placeorder-btn{
        width: 100%;
        height: 2vh;
        font-size: 0.6rem;
    }
    
}
        
    

@media only screen and (min-width:280px) and (max-width:500px){
    .item-cart{
        width: 100%;
        column-gap: 0px;
    }
    .cart-img {
        height: auto;
        width: 70%;
    }  
    .name {
        font-size: 0.5rem;
        font-weight: 500;
    }
    .cart-iteminner {
        column-gap: 2vw;
        height: 20%;
    }
   
    .cart-iteminner1 {
        row-gap: 1vh;
        font-size: 0.4rem;
    }
    .item-cart2{
        height:25%;
        width: 35%;
        font-size: 0.5rem;
        row-gap: 2%;
    }
    .btn-remove{
        width: 20vw;
    }
    .price-details{
        font-size:0.5rem;
    }
    .price-cont{
        column-gap: 0px;
    }
    .btns{
        height:20%;
        flex-direction: column;
        row-gap: 2%;
    }
    .payment-btn{
        height: 3vh;
       width: 100%;
       font-size: 0.6rem;
    }
    .placeorder-btn{
        width: 100%;
        height: 3vh;
        font-size: 0.6rem;
    }
    .empty-img{
        height: 40%;
    }
}
